﻿@using DTOs

@{
    ViewBag.Title = "Report";
    Layout = "~/Views/Shared/UserPage.cshtml";
}

@{ InterestReport rpt = ViewBag.Report; }

<div class="container">

    <h3 class="blue-heading page-header">
        Your work personality Summary
    </h3>

    <div class="pull-right">
        <div class="fb-like"
             data-share="true"
             data-width="450"
             data-show-faces="true">
        </div>
    </div>



    <div class="container">
        <p class="col-md-6">
            @rpt.InterestSummary <br /><br />
            @rpt.PersonalitySummary

        </p>
        <div class="col-md-6">
            <img class="img-responsive" src="~/images/people.jpg" />
        </div>
    </div>


    <h4 class="orange-heading page-header">
        Your interest matching careers
    </h4>


    <table class="table table-striped">

        <thead>
            <tr>
                <th>
                    Career Name
                </th>
                <th>
                    Career Details
                </th>
                <th>

                </th>
            </tr>
        </thead>


        <tbody>


            @foreach (SelectedCareers c in rpt.SelectedCareers)
            {
                <tr>
                    <td>@c.CareerName</td>
                    <td>@c.Details</td>
                    <td>
                        <button class="btn btn-primary" onclick="window.location='/Career/DegreesInCareer/@c.Id'">View Respective Degrees</button>
                    </td>

                </tr>
            }


        </tbody>


    </table>


</div>



<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '893922077385767',
            xfbml: true,
            version: 'v2.5'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) { return; }
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>