﻿@model DAL.Models.UniversityNewss

@{
    ViewBag.Title = "Create NewsFeed";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 class="blue-heading page-header">Add NewsFeed</h1>

<div class="container col-sm-10">
    @using (Html.BeginForm("Create","AdminNewsFeed",FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.TextBoxFor(model => model.Date, htmlAttributes: new { @class = "form-control",@required="required" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.UniversityId, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.DropDownList("UniversityId",null, new {@class="form-control" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.TextBoxFor(model => model.Title, htmlAttributes: new { @class = "form-control", @required = "required" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-4"><input type="submit" class="btn btn-success"/></div>
            </div>
        </div>
    }
</div>

<script>
    $(document).ready(function () {
        $('#UniversityId').chosen({ search_contains: true });
    });
</script>

