﻿@model DAL.Models.UniversityNewss

@{
    ViewBag.Title = "NewsFeed Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 class="blue-heading page-header">NewsFeed Details</h1>
<p id="Note">If you want to edit press this button&nbsp;&nbsp;&nbsp;&nbsp;<input class="btn btn-info" type="submit" value="Edit" onclick="edit()" /></p>

<div class="container col-sm-10">
    @using (Html.BeginForm("Details","AdminNewsFeed"))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="form-horizontal">
            @Html.HiddenFor(model => model.Id)
            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.Date, htmlAttributes: new { @class = "control-label"})</div>
                <div class="col-sm-4">@Html.TextBoxFor(model => model.Date, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.UniversityId, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.DropDownList("UniversityId",null, new {@class="form-control",@disabled="disabled"})</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.TextBoxFor(model => model.Title, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "form-control", @readonly = "readonly" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-4" id="BtnDiv"></div>
            </div>
        </div>
        
    }
</div>

@*-------------JAVASCRIPT---------------*@
<script>
    $(document).ready(function () {
        $('#UniversityId').chosen({ search_contains: true });
    });

    function edit()
    {
        $('#Date').prop("readonly", false);
        $('#Title').prop("readonly", false);
        $('#Description').prop("readonly", false);
        $('#UniversityId').prop('disabled', false).trigger("chosen:updated");

        $('#Note').empty();
        $('#BtnDiv').append("<input class='btn btn-success' type='submit' value='Save Changes'/>");
    }
</script>
