﻿@model DAL.Models.Question
@{
    ViewBag.Title = "Create Question";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <!-------------------------         your page will go here   --------------------------->
    <h1 class="blue-heading page-header">Add Question</h1>
    <div class="col-sm-10">
        <form class="form-horizontal" onsubmit="return SendToController()">
            <div class="form-group">
                <div class="col-sm-2"><label class="control-label">Statement</label></div>
                <div class="col-sm-4"><textarea name="Statement" id="Statement" class="form-control" required></textarea></div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">Career</div>
                <div class="col-sm-4">@Html.DropDownList("Career",null,htmlAttributes: new {@class="form-control",@multiple="multiple"  })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-4"><input type="submit" class="btn btn-success"/></div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#Career").chosen({ search_contains: true });
    });

    function SendToController()
    {
        var stat = document.getElementById("Statement").value;
        var career= document.getElementById("Career");
        var array = new Array();
        var length = career.length;
        for (var i = 0; i < length; i++)
        {
            if (career[i].selected)
            {
                array.push(career[i].value);
            }
        }

        $.ajax({
            url: '/AdminQuestion/CreateQuestion',
            dataType: "json",
            type: 'POST',
            data: JSON.stringify({ s: stat, arr: array}),
            contentType: 'application/json',
            success: function (data) {
                self.location = '/AdminQuestion/ViewAll'
                return true;
            },
            error: function (xhr) {
                return false;
            }
        });
        return false;
    }
</script>