﻿@model DAL.Models.Question
@{
    ViewBag.Title = "Question Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <!-------------------------         your page will go here   --------------------------->
    <h1 class="blue-heading page-header">Question Details</h1>
    
    <div class="col-sm-10">
            <p id="Note">If you want to edit press this button&nbsp;&nbsp;&nbsp;&nbsp;<input class="btn btn-info" type="submit" value="Edit" onclick="Edit()" /></p>
        <form onsubmit="return SendToController()">
            @Html.HiddenFor(model => model.Id)
            <div class="form-horizontal">
                <div class="form-group">
                    <div class="col-sm-2"><label class="control-label">Statement</label></div>
                    <div class="col-sm-4">@Html.TextAreaFor(model => model.Statement, htmlAttributes: new { @class = "form-control", @required = "required", @readonly = "readonly" })</div>
                </div>

                <div class="form-group">
                    <div class="col-sm-2">Career</div>
                    <div class="col-sm-4">@Html.DropDownList("Career", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple",@disabled="disabled"})</div>
                </div>

                <div class="form-group" id="BtnDiv" hidden>
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4"><input type="submit" class="btn btn-success" /></div>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    $(document).ready(function () {
        $("#Career").chosen({ search_contains: true });
    });

    function Edit()
    {
        $('#Statement').prop("readonly", false);
        $('#Note').prop("hidden", true);
        $('#BtnDiv').prop("hidden", false);
        $('#Career').prop('disabled', false).trigger("chosen:updated");

    }

    function SendToController()
    {
        var stat = document.getElementById("Statement").value;
        var career = document.getElementById("Career");

        var ques = new QuestionCopy();
        ques.Id = document.getElementById("Id").value;
        ques.Statement = stat;

        var array = new Array();
        var length = career.length;
        for (var i = 0; i < length; i++)
        {
            if (career[i].selected)
            {
                array.push(career[i].value);
            }
        }

        $.ajax({
            url: '/AdminQuestion/Update',
            dataType: "json",
            type: 'POST',
            data: JSON.stringify({ obj: ques, arr: array}),
            contentType: 'application/json',
            success: function (data) {
                //self.location = '/AdminQuestion/ViewAll'
                //return true;
                location.reload();
            },
            error: function (xhr) {
                return false;
            }
        });
        return false;
    }

    var QuestionCopy= function()
    {
        this.Id;
        this.Statement;
    }
</script>