﻿<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>

    <!-- css files are here    -->
    <link href="~/Scripts/Admin/css/bootstrap.min.css" rel="stylesheet" />

    <link href="~/Scripts/Admin/ImageUpload/css/jquery.filer.css" rel="stylesheet" />
    <link href="~/Scripts/Admin/ImageUpload/css/themes/jquery.filer-dragdropbox-theme.css" rel="stylesheet" />

    <link rel="stylesheet" href="~/Scripts/Admin/css/jquery-ui.css"/>
    <link href="~/Scripts/Admin/css/metisMenu.min.css" rel="stylesheet"/>
    <link href="~/Scripts/Admin/css/sb-admin-2.css" rel="stylesheet"/>
    <link href="~/Scripts/Admin/css/font-awsome-min.css" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="~/Scripts/Admin/css/adminsidestyle.css" />
    <link href="~/Scripts/Admin/css/chosen.min.css" rel="stylesheet" />
    <link href="~/Scripts/Admin/css/Jquery-DataTables.css" rel="stylesheet" />

    <!--   scripts are here   -->
    <script src="~/Scripts/Admin/js/jquery.js"></script>
    <script src="~/Scripts/Admin/js/bootstrap.min.js"></script>
    <script src="~/Scripts/Admin/js/metisMenu.min.js"></script>
    <script src="~/Scripts/Admin/js/sb-admin-2.js"></script>
    <script src="~/Scripts/Admin/js/jquery-ui.js"></script>
    <script src="~/Scripts/Admin/js/datatables.js"></script>
    <script src="~/Scripts/Admin/js/Jquery-DataTables-bootstrap.js"></script>
    <script src="~/Scripts/Admin/js/chosen.jquery.min.js"></script>
    <script src="~/Scripts/Admin/js/Jquery-DataTables-bootstrap.js"></script>

    <script>
        $(document).ready(function () {
            $('#mytable').DataTable();
        });
    </script>
</head>

<body style="background-color: #8bc744;">
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" id="navbar" style="background-color:#88E41E;">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/AdminUniversity/ViewAll" style="color: #0A0909">BCC(Bright Career Counsiling)</a>
            </div>
            <!-- /.navbar-header -->
            <ul class="nav navbar-top-links navbar-right">
                <!-- /.dropdown -->
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <i class="fa fa-user fa-fw"></i>  <i class="fa fa-caret-down"></i>
                    </a>
                    <ul class="dropdown-menu dropdown-user">
                        <li>
                            <a href="/Administrators/ChangePassword"><i class="fa fa-gear fa-fw"></i>Change Password</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="/Administrators/Logout"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                        </li>
                    </ul>
                    <!-- /.dropdown-user -->
                </li>
                <!-- /.dropdown -->
            </ul>
            <!-- /.navbar-top-links -->
            <div class="navbar-default sidebar" role="navigation">
                <div class="sidebar-nav navbar-collapse">
                    <ul class="nav" id="side-menu" style="background-color: #8bc744">
                        @if (Session["Role"].ToString() == "master")
                        {
                            <li>
                                <a href="#"><i class="fa fa-files-o fa-fw"></i>Administration<span class="fa arrow"></span></a>
                                <ul class="nav nav-second-level">
                                    <li>
                                        <a href="/Administrators/Create">Add Administrator</a>
                                    </li>
                                    <li>
                                        <a href="/Administrators/ViewAll">View Administrators</a>
                                    </li>
                                </ul>
                                <!-- /.nav-second-level -->
                            </li>
                        }

                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i>Questionnair<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/AdminQuestion/Create">Add Question</a>
                                </li>
                                <li>
                                    <a href="/AdminQuestion/ViewAll">View Questionnair</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i>University<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/AdminUniversity/Create">Add University</a>
                                </li>
                                <li>
                                    <a href="/AdminUniversity/ViewAll">View Universities</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i>Campuses<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/AdminCampus/Create">Add Campus</a>
                                </li>
                                <li>
                                    <a href="/AdminCampus/ViewAll">View Campuses</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i>News Feed<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/AdminNewsFeed/Create">Add News</a>
                                </li>
                                <li>
                                    <a href="/AdminNewsFeed/ViewAll">View All News</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i>Career Panel<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/AdminCareer/Create">Add Career</a>
                                </li>
                                <li>
                                    <a href="/AdminCareer/ViewAll">View Careers</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i>Degree Panel<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/AdminDegree/Create">Add Degree</a>
                                </li>
                                <li>
                                    <a href="/AdminDegree/ViewAll">View Degrees</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i>Personality Panel<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/AdminPersonality/Create">Add Personality</a>
                                </li>
                                <li>
                                    <a href="/AdminPersonality/ViewAll">View Personalities</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>

                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i>Category Panel<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/AdminCategory/Create">Add Category</a>
                                </li>
                                <li>
                                    <a href="/AdminCategory/ViewAll">View Categories</a>
                                </li>
                            </ul>
                        </li>

                        <!-- /.nav-second-level -->
                        <li>
                            <a href="#"><i class="fa fa-files-o fa-fw"></i>City Panel<span class="fa arrow"></span></a>
                            <ul class="nav nav-second-level">
                                <li>
                                    <a href="/AdminCity/Create">Add City</a>
                                </li>
                                <li>
                                    <a href="/AdminCity/ViewAll">View Cities</a>
                                </li>
                            </ul>
                            <!-- /.nav-second-level -->
                        </li>
                    </ul>
                </div>
                <!-- /.sidebar-collapse -->
            </div>
            <!-- /.navbar-static-side -->
        </nav>
        <!-- Page Content -->
        <div id="page-wrapper">
            <div class="container" style="margin-top:-20px">

                @RenderBody()

            </div>
            <!-- /.col-lg-12 -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
    <!-- /#wrapper -->
</body>
</html>


