﻿@model DAL.Models.University

@{
    ViewBag.Title = "Create University";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

  @*Form for unviersity object*@
<div class="container col-sm-12 form-horizontal">

    <form onsubmit=" return SendToController()">
    <h1 class="blue-heading">Add University <input style="margin-left:500px; width:200px" type="submit" class="btn btn-success"/></h1>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.Name, new { @class = "control-label"})</div>
                <div class="col-sm-6">@Html.TextBoxFor(model => model.Name, new { @class = "form-control" ,@required="required"})</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.AlternateName, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBoxFor(model => model.AlternateName, new { @class = "form-control"})</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.WebAddress, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBoxFor(model => model.WebAddress, new { @class = "form-control" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.Sector, new { @class = "control-label" })</div>
                <div class="col-sm-6"><select class="form-control" id="Sector" name="Sector" required><option value="Government">Government</option><option value="Private">Private</option></select></div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.Priority, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBoxFor(model => model.Priority, new { @class = "form-control", @max = "5", @type = "number" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.PhoneNo, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.Label("Category", new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.DropDownList("CategoryId", null, htmlAttributes: new {@class="form-control" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.Description, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextAreaFor(model => model.Description, new { @class = "form-control"})</div>
           </div>
        </div>
        
        @*Form for adding campus*@
    </form>
    <h3>Add Campus</h3>
    <form onsubmit="return AddToTable()">

        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-3">@Html.Label("Campus Title", new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBox("CampusTitle", null, new { @class = "form-control", @required = "required" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-3">@Html.Label("Alternate Name", new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBox("Alternate", null, new { @class = "form-control" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.Label("WebAddress", new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBox("CWebAddress", null, new { @class = "form-control" })</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-3">@Html.Label("City", new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.DropDownList("CityId", null, new { @class = "form-control", @required = "required" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.Label("Address", new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBox("Address", null, new { @class = "form-control", @required = "required" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.Label("PhoneNo", new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBox("CPhoneNo", null, new { @class = "form-control" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3"></div>
                <div class="col-sm-6"><input type="submit" class="btn btn-success" /></div>
            </div>
        </div>
    </form>

    @*Table for displaying added campuses*@
    <div class="col-sm-9">
        <table class="table table-bordered table-hovered" id="mytable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>Web Address</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>Phone No</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody id="TBody">
                <tr></tr>
            </tbody>
        </table>
    </div>
</div>

<script>
    //Global variables
    var CampusArray = new Array();
    var counter = 1;

    $(document).ready(function () {
        $("#CityId").chosen({ search_contains: true });
        $('#CategoryId').chosen({ search_contains: true });
    });
    
    //To add campus
    function AddToTable()
    {
        var campustitle = document.getElementById("CampusTitle");
        var alternatename = document.getElementById("Alternate");
        var city = document.getElementById("CityId");
        var address = document.getElementById("Address");
        var cwebaddress = document.getElementById("CWebAddress");
        var cphoneno = document.getElementById("CPhoneNo");

        var obj = new CampusCopy();
        obj.Id = counter++;
        obj.CampusTitle = campustitle.value;
        obj.AlternateName = alternatename.value;
        obj.CityId = city[city.selectedIndex].value;
        obj.CityName = city[city.selectedIndex].innerHTML;
        obj.Address = address.value;
        obj.WebAddress = cwebaddress.value;
        obj.PhoneNo = cphoneno.value;
        CampusArray.push(obj);

        var str = "";
        if (obj.AlternateName != "") {
            str = "(" + obj.AlternateName + ")";
        }
        $("#TBody").append('<tr id="'+obj.Id+'">'+"<td>" + obj.CampusTitle + str + "</td><td>" + obj.WebAddress + "</td><td>" + obj.CityName + "</td><td>" + obj.Address + "</td><td>" + obj.PhoneNo + "</td><td class='Actions'>" + "<button class='btn-danger' onclick=" + "'RemoveFromTable(" + obj.Id + ");'>Delete</button>" + "</td></tr>");
        campustitle.value = "";
        alternatename.value = "";
        address.value = "";
        cphoneno.value = "";
        cwebaddress.value = "";
        return false;
    }

    //Removing a added campus from array/table
    function RemoveFromTable(a)
    {
        for (var j = 0; j < CampusArray.length; j++)
        {
            var b = CampusArray[j];
            if(b.Id==a)
            {
                CampusArray.splice(j,1);
            }
        }
        document.getElementById(a).remove();
    }

    //Send university object and array of campuses to controller
    function SendToController()
    {
        var name = document.getElementById("Name");
        var alternatename = document.getElementById("AlternateName");
        var webaddress = document.getElementById("WebAddress");
        var sector = document.getElementById("Sector");
        var priority = document.getElementById("Priority");
        var description = document.getElementById("Description");
        var category = document.getElementById("CategoryId");
        var phoneno = document.getElementById("PhoneNo");

        var obj = new UniversityCopy();
        obj.Name = name.value;
        obj.AlternateName = alternatename.value;
        obj.WebAddress = webaddress.value;
        obj.Sector = sector[sector.selectedIndex].value;
        obj.Priority = priority.value;
        obj.Description = description.value;
        obj.CategoryId = category[category.selectedIndex].value;
        obj.PhoneNo = phoneno.value;

        //Sending data
        $.ajax({
            url: '/AdminUniversity/CreateUniversity',
            dataType: "json",
            type: 'POST',
            data: JSON.stringify({ obj: obj, arr: CampusArray }),
            contentType: 'application/json',
            success: function (data) {
                self.location = '/AdminUniversity/ViewAll'
                return false;
            },
            error: function (xhr) {
                alert(data);
                return false;
            }
        });


        return false;   
    }

    //Campus class copy of UniversityCampus class given by entity framework
    var CampusCopy= function()
    {
        this.Id;
        this.CampusTitle;
        this.Address;
        this.UniversityId;
        this.AlternateName;
        this.CityId;
        this.CityName;
        this.WebAddress;
        this.PhoneNo;
    }

    //University class copy of University class given by entity framework
    var UniversityCopy=function()
    {
        this.Name;
        this.AlternateName;
        this.WebAddress;
        this.Sector;
        this.Priority;
        this.Description;
        this.CategoryId;
        this.PhoneNo;
    }
</script>