﻿@model DAL.Models.University

@{
    ViewBag.Title = "University Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container col-sm-12 form-horizontal">
    @*Form for unviersity object*@
    <form onsubmit="SendToController()">
        <h1 class="blue-heading">University Details<input id="Btn" style="margin-left:500px; width:200px" type="submit" class="btn btn-info" value="Edit" onclick="return edit()" /></h1>
            
        <div class="col-sm-6">
                @Html.HiddenFor(model => model.Id)
                <div class="form-group">
                    <div class="col-sm-3">@Html.LabelFor(model => model.Name, new { @class = "control-label" })</div>
                    <div class="col-sm-6">@Html.TextBoxFor(model => model.Name, new { @class = "form-control", @readonly = "readonly", @required = "required" })</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">@Html.LabelFor(model => model.AlternateName, new { @class = "control-label" })</div>
                    <div class="col-sm-6">@Html.TextBoxFor(model => model.AlternateName, new { @class = "form-control", @readonly = "readonly" })</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">@Html.LabelFor(model => model.WebAddress, new { @class = "control-label" })</div>
                    <div class="col-sm-6">@Html.TextBoxFor(model => model.WebAddress, new { @class = "form-control", @readonly = "readonly" })</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">@Html.LabelFor(model => model.Sector, new { @class = "control-label" })</div>
                    <div class="col-sm-6">@Html.DropDownList("Sector", null, new {@class="form-control",@disabled="disabled" })</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-3">@Html.LabelFor(model => model.Priority, new { @class = "control-label" })</div>
                    <div class="col-sm-6">@Html.TextBoxFor(model => model.Priority, new { @class = "form-control", @readonly = "readonly", @max = "5", @type="number" })</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">@Html.LabelFor(model => model.PhoneNo, new { @class = "control-label" })</div>
                    <div class="col-sm-6">@Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control",@readonly="readonly" })</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">@Html.Label("Category", new { @class = "control-label" })</div>
                    <div class="col-sm-6">@Html.DropDownList("CategoryId", null, htmlAttributes: new { @class = "form-control", @disabled="disabled" })</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">@Html.LabelFor(model => model.Description, new { @class = "control-label" })</div>
                    <div class="col-sm-6">@Html.TextAreaFor(model => model.Description, new { @class = "form-control", @readonly = "readonly" })</div>
                </div>
            </div>
    </form>

    @*Form for adding campus*@
    <div id="AddCampus">
        <h3>Add Campus</h3>
        <form onsubmit="return AddToTable()">
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-3">@Html.Label("Campus Title", new { @class = "control-label" })</div>
                    <div class="col-sm-6">@Html.TextBox("CampusTitle", null, new { @class = "form-control", @required = "required" })</div>
                </div>

                <div class="form-group">
                    <div class="col-sm-3">@Html.Label("Alternate Name", new { @class = "control-label" })</div>
                    <div class="col-sm-6">@Html.TextBox("Alternate", null, new { @class = "form-control" })</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">@Html.Label("WebAddress", new { @class = "control-label" })</div>
                    <div class="col-sm-6">@Html.TextBox("CWebAddress", null, new { @class = "form-control"})</div>
                </div>
            </div>
            <div class="col-sm-6">
                <div class="form-group">
                    <div class="col-sm-3">@Html.Label("City", new { @class = "control-label" })</div>
                    <div class="col-sm-6">@Html.DropDownList("CityId", null, new { @class = "form-control"})</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">@Html.Label("Address", new { @class = "control-label" })</div>
                    <div class="col-sm-6">@Html.TextBox("Address", null, new { @class = "form-control", @required = "required" })</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3">@Html.Label("PhoneNo", new { @class = "control-label" })</div>
                    <div class="col-sm-6">@Html.TextBox("CPhoneNo", null, new { @class = "form-control"})</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-3" style=""></div>
                    <div class="col-sm-6"><input type="submit" class="btn btn-success" /></div>
                </div>
            </div>
        </form>
    </div>

    @*Table for displaying added campuses*@
    <div class="col-sm-9">
        <table class="table table-bordered table-hovered" id="mytable">
            <thead>
                <tr>
                    <th>Title</th>
                    <th>WebAddress</th>
                    <th>City</th>
                    <th>Address</th>
                    <th>PhoneNo</th>
                    <th class="Actions">Actions</th>
                </tr>
            </thead>
            <tbody id="TBody">
            </tbody>
        </table>
    </div>
</div>

@*----------------Java Script-----------------*@
<script>
    //Global variables
    var CampusArray = new Array();
    var counter = 1;
   
    //Campus class copy of UniversityCampus class given by entity framework
    var CampusCopy= function()
    {
        this.Id; //This attribute is been reserved for the id given from the pre-entered campuses in database and will be used to update the campus or delete it from database
        this.CampusTitle;
        this.Address;
        this.UniversityId
        this.AlternateName;
        this.CityId;
        this.CityName;
        this.Count;
        this.WebAddress;
        this.PhoneNo;
        //To keep the counter in it so that this will be used to delete the CampusCopy object from CampusArray
    }

    //University class copy of University class given by entity framework
    var UniversityCopy=function()
    {
        this.Id;
        this.Name;
        this.AlternateName;
        this.WebAddress;
        this.Sector;
        this.Priority;
        this.Description;   
        this.CategoryId;
        this.PhoneNo;
    }

    //To add campuses in the CampusArray and table
    $(document).ready(function () {
        $("#CityId").chosen({ search_contains: true });
        $('#CategoryId').chosen({ search_contains: true });
        $('#AddCampus').prop("hidden",true);
        $('#TBody').empty();
        @foreach(var a in Model.UniversityCampusses)
        {
            <text>
            var obj = new CampusCopy();
            obj.Id=@a.Id;
            obj.CampusTitle='@a.CampusTitle';
            obj.AlternateName='@a.AlternateName';
            obj.City= @a.CityId;
            obj.CityName='@a.City.Name';
            obj.Address='@a.Address';
            obj.WebAddress='@a.WebAddress';
            obj.PhoneNo='@a.PhoneNo';
            obj.Count=counter++;
            CampusArray.push(obj);

            var str="";
            if(obj.AlternateName!="")
            {
                var str= "(" + obj.AlternateName + ")";
            }
            $("#TBody").append("<tr id='"+obj.Count+"'><td>" + obj.CampusTitle + str + "</td><td>" + obj.WebAddress + "</td><td>" + obj.CityName + "</td><td>" + obj.Address + "</td><td>" + obj.PhoneNo + "</td><td class='Actions'>" + "<button class='btn-danger' onclick=" + "'RemoveFromTable(" + (obj.Count) + ");'>Delete</button>" + "</td></tr>");
           
        </text>
        }
        $('.Actions').prop('hidden',true); 
    });

     //To turn data fields enabled
    function edit()
    {
        $('#Btn').removeAttr('onclick');
        $('#Btn').attr('value','Save Changes');
        $('#Btn').attr('class','btn btn-warning');
        $('#Name').prop("readonly", false);
        $('#AlternateName').prop("readonly", false);
        $('#WebAddress').prop("readonly", false);
        $('#Sector').prop("disabled", false);
        $('#Priority').prop("readonly", false);
        $('#Description').prop("readonly", false);
        $('#PhoneNo').prop("readonly",false);
        $('#AddCampus').prop("hidden",false);
        $('.Actions').prop("hidden",false);
        $('#CategoryId').prop('disabled', false).trigger("chosen:updated");
        return false;
    }

    //To add campus in the table and CampusArray
    function AddToTable()
    {
        var campustitle = document.getElementById("CampusTitle");
        var alternatename = document.getElementById("Alternate");
        var city = document.getElementById("CityId");
        var address = document.getElementById("Address");
        var cwebaddress = document.getElementById("CWebAddress");
        var cphoneno= document.getElementById("CPhoneNo");

        var obj = new CampusCopy();
        obj.Id = 0;
        obj.CampusTitle = campustitle.value;
        obj.AlternateName = alternatename.value;
        obj.CityId = city[city.selectedIndex].value;
        obj.CityName = city[city.selectedIndex].innerHTML;
        obj.Address = address.value;
        obj.WebAddress = cwebaddress.value;
        obj.PhoneNo= cphoneno.value;
        obj.Count=counter++;
        CampusArray.push(obj);
        var str="";
        if(obj.AlternateName!="")
        {
            str= "(" + obj.AlternateName + ")";
        }
        $("#TBody").append("<tr id='"+obj.Count+"'><td>" + obj.CampusTitle + str + "</td><td>" + obj.WebAddress + "</td><td>" + obj.CityName + "</td><td>" + obj.Address + "</td><td>" + obj.PhoneNo + "</td><td class='Actions'>" + "<button class='btn-danger' onclick=" + "'RemoveFromTable(" + (obj.Count) + ");'>Delete</button>" + "</td></tr>");
        campustitle.value = "";
        alternatename.value = "";
        address.value = "";
        cwebaddress.value="";
        cphoneno.value="";
        return false;
    }

    //Removing a added campus from array/table
    function RemoveFromTable(a)
    {
        for (var j = 0; j < CampusArray.length; j++)
        {
            var b = CampusArray[j];
            if(b.Count==a)
            {
                CampusArray.splice(j,1);
                break;
            }
        }

        document.getElementById(a).remove();
    }

    //Send university object and array of campuses to controller
    function SendToController()
    {
        var sector = document.getElementById("Sector");
        var category= document.getElementById("CategoryId");
        var phoneno= document.getElementById("PhoneNo");

        var obj = new UniversityCopy();
        obj.Id= document.getElementById("Id").value;
        obj.Name = document.getElementById("Name").value;
        obj.AlternateName = document.getElementById("AlternateName").value;
        obj.WebAddress = document.getElementById("WebAddress").value;
        obj.Sector = sector[sector.selectedIndex].value;
        obj.Priority = document.getElementById("Priority").value;
        obj.Description = document.getElementById("Description").value;
        obj.CategoryId=category[category.selectedIndex].value;
        obj.PhoneNo=phoneno.value;

        //Sending data
        $.ajax({
            url: '/AdminUniversity/EditUniversity',
            dataType: "json",
            type: 'POST',
            data: JSON.stringify({ obj: obj, arr: CampusArray }),
            contentType: 'application/json',
            success: function (data) {
                //self.location = '/AdminUniversity/ViewAll'
                //return true;
                location.reload();
                return true;
            },
            error: function (xhr) {
                alert(data);
                return false;
            }

        });

        return false;
    }
</script>