﻿
@{
    ViewBag.Title = "View All Universities";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1 class="blue-heading page-header">Universities</h1> 
<div class="col-sm-10">
    <table class="table table-bordered" id="mytable">
        <thead>
            <tr>
                <th>Name</th>
                <th>Category</th>
                <th>Sector</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>

           @foreach(var obj in Model)
           {
               <tr>
                   <td>@obj.Name</td>
                   <td>@if (obj.Category != null) {@obj.Category.Name }</td>
                   <td>@obj.Sector</td>
                   <td>
                       <a href="/AdminUniversity/Details?Id=@obj.Id"><input class="btn btn-success" type="submit" value="Details" /></a>
                    <input class="btn btn-danger" type="submit" value="Delete" onclick="ConfirmDeletion(@obj.Id)" />
                   </td>
               </tr>
           }
        </tbody>
    </table>
</div>
<script>
    function ConfirmDeletion(a) {
        var check = confirm("Confirm Deletion?(Deleting a university will delete all the campuses, respective campus degrees and newsfeed)");
        if (check == true) {
            self.location = '/AdminUniversity/Delete/' + a;
        }
    }
</script>