﻿@model DAL.Models.Administrator
@{
    ViewBag.Title = "ChangePassword";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 class="blue-heading page-header">Change Password</h1>
<div class="container col-sm-10">
    @{ string u=Session["Username"].ToString(); }
    <form onsubmit="return ValidatePassword()" action="/Administrators/EditAdmin" method="post">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4"><input type="text" class="form-control" value="@u" name="Username" readonly /></div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.PasswordFor(model => model.Password, new { @class = "form-control", @required = "required" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"><label class="control-label">Confirm Password</label></div>
                <div class="col-sm-4"><input type="password" id="ConfirmPassword" class="form-control"/> </div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-4"><input type="submit" class="btn btn-success" /></div>
            </div>
        </div>
    </form>
</div>

<script>
    function ValidatePassword()
    {
        var confirmpassword = document.getElementById("ConfirmPassword").value;
        var password = document.getElementById("Password").value;
        if(confirmpassword!=password)
        {
            alert("Password does not match");
            return false;
        }
        return true;
    }
</script>
