﻿@model DAL.Models.Administrator
@{
    ViewBag.Title = "Add Admin";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 class="blue-heading page-header">Add Admin</h1>
<div class="container col-sm-10">
    <form onsubmit="return CheckUsername()" action="/Administrators/AddAdmin" method="post">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.TextBoxFor(model => model.Username, htmlAttributes: new { @class = "form-control", @required = "required" })</div>
                <div class="col-sm-4" id="usernamevalidation"></div>
                </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.PasswordFor(model => model.Password, new { @class = "form-control", @required = "required" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-4"><input type="submit" value="Submit" class="btn btn-success" /></div>
            </div>
        </div>
    </form>
</div>

<script>
    var availability = 0;

    $("#Username").change(function () {
        var username = document.getElementById("Username").value;
        $("#usernamevalidation").empty();
        if (username != "") {
            $("#usernamevalidation").empty();
            $.ajax({
                url: '/Administrators/CheckUsername',
                dataType: "json",
                type: 'POST',
                data: JSON.stringify({ username: username }),
                contentType: 'application/json',
                async: false,
                success: function (data) {
                    if (data == "false") {
                        $("#usernamevalidation").append("<h5 style='color:red;'>Username is not available.<h5>");
                        availability = 0;
                    }
                    else {
                        $("#usernamevalidation").append("<h5 style='color:green;'>Username is available.<h5>");
                        availability = 1;
                    }
                },
                error: function (xhr) {
                    alert(data);
                    return false;
                }
            });
        }
        });

    function CheckUsername()
    {
        if(availability==0)
        {
            return false;
        }
        else 
            return true;
    }
</script>
