﻿@model DAL.Models.Administrator

@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Index</title>
    <link href="~/Scripts/Admin/css/bootstrap.min.css" rel="stylesheet" />

</head>
<body style="background-color:khaki">
    <div class="col-sm-12" style="padding:100px 100px 100px 400px">
        <h1 class="blue-heading">Mustqbil.com Administration Area</h1>
        <hr />
        <h2 class="blue-heading">Login:</h2>
        <div class="form-horizontal">
            <form action="/Administrators/Login" method="post">
                <div class="form-group">
                    <div class="col-sm-2">@Html.LabelFor(model => model.Username, htmlAttributes: new { @class = "control-label" })</div>
                    <div class="col-sm-4">@Html.TextBoxFor(model => model.Username, htmlAttributes: new {@class="form-control",@required="required"})</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2">@Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label" })</div>
                    <div class="col-sm-4">@Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control", @required = "required" })</div>
                </div>
                <div class="form-group">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-4"><input type="submit" value="Login" class="btn btn-success" /></div>
                </div>
            </form>
        </div>
    </div>
</body>
</html>
