﻿@model IEnumerable<DAL.Models.Administrator>
@{
    ViewBag.Title = "View All Administrators";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <!-------------------------         your page will go here   --------------------------->
    <h1 class="blue-heading page-header">All Administrators</h1>
    <div class="col-sm-10">
        <table class="table table-bordered table-hover" id="mytable">
            <thead>
                <tr>
                    <th>Username</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.Username</td>
                        <td>
                            <input class="btn btn-danger" type="submit" value="Delete" onclick="ConfirmDeletion(@a.Id)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function ConfirmDeletion(a) {
        var check = confirm("Confirm Deletion of an administrator?");
        if (check == true)
        {
            self.location = '/Administrators/Delete/' + a;
        }
    }
</script>
