﻿@model DAL.Models.UniversityCampuss
@{
    ViewBag.Title = "Create Campus";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

@*Form for the campus attributes*@
<div class="container col-sm-12 form-horizontal">
    <form onsubmit="return SendToController()">
        <h1 class="blue-heading">Add Campus<input style="margin-left:500px; width:200px" type="submit" class="btn btn-success" /></h1>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.CampusTitle, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBoxFor(model => model.CampusTitle, new { @class = "form-control", @required = "required" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.AlternateName, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBoxFor(model => model.AlternateName, new { @class = "form-control" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.UniversityId, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.DropDownList("UniversityId", null, htmlAttributes: new { @class = "form-control", @required = "required" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.PhoneNo, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control" })</div>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.CityId, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.DropDownList("CityId", null, new { @class = "form-control", @required = "required" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.WebAddress, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBoxFor(model => model.WebAddress, new { @class = "form-control" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.Address, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextAreaFor(model => model.Address, new { @class = "form-control", @required = "required" })</div>
            </div>
        </div>

        <h3>Add Degree</h3>
        <div class="col-sm-9">
            <div class="form-group">
              </div>
        </div>
    </form>
</div>

<div class="container col-sm-12 form-horizontal">
    <form onsubmit="return AddToTable()">
           <div class="form-group">
               <div class="col-sm-2">@Html.Label("Degree", new { @class = "control-label" })</div>
               <div class="col-sm-5">@Html.DropDownList("DegreeId", null, new { @class = "form-control" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.Label("URL", new { @class = "control-label" })</div>
                <div class="col-sm-5">@Html.TextBox("DegreeUrl", null, new { @class = "form-control" })</div>
                <div class="col-sm-5"><input type="submit" value="Add Degree" class="btn btn-success"/></div>
            </div>
    </form>
</div>

<br/>
<br/>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>Degree</th>
            <th>URL</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody id="TBody">

    </tbody>
</table>
<script>
    //Global variables
    var counter = 1;
    var DegreeArray = new Array();

    $(document).ready(function () {
        $('#UniversityId').chosen({ search_contains: true });
        $("#DegreeId").chosen({ search_contains: true });
        $("#CityId").chosen({ search_contains: true });
    });

    //Send university object and array of campuses to controller
    function SendToController()
    {
        var campustitle = document.getElementById("CampusTitle");
        var alternatename = document.getElementById("AlternateName");
        var address = document.getElementById("Address");
        var cityid = document.getElementById("CityId");
        var universityid = document.getElementById("UniversityId");
        var webaddress = document.getElementById("WebAddress");
        var phoneno = document.getElementById("PhoneNo");

        var obj = new CampusCopy();
        obj.CampusTitle = campustitle.value;
        obj.AlternateName = alternatename.value;
        obj.Address = address.value;
        obj.CityId = cityid.value;
        obj.UniversityId = universityid.value;
        obj.WebAddress = webaddress.value;
        obj.PhoneNo = phoneno.value;

        //Sending data
        $.ajax({
            url: '/AdminCampus/AddCampus',
            dataType: "json",
            type: 'POST',
            data: JSON.stringify({ obj: obj, arr: DegreeArray }),
            contentType: 'application/json',
            success: function (data) {
                self.location = '/AdminCampus/ViewAll'
                return true;
            },
            error: function (xhr) {
                alert(data);
                return false;
            }
        });
        return false;
    }

    //Campus class copy of UniversityCampus class given by entity framework
    var CampusCopy = function () {
        this.Id;
        this.CampusTitle;
        this.Address;
        this.UniversityId;
        this.AlternateName;
        this.CityId;
        this.WebAddress;
        this.PhoneNo;
    }

    var CampusDegreeCopy = function () {
        this.Id;
        this.Count;
        this.DegreeId;
        this.DegreeName;
        this.DegreeUrl;
    }

    function AddToTable()
    {
        var degreeid = document.getElementById("DegreeId");
        var degreeurl = document.getElementById("DegreeUrl");

        var obj = new CampusDegreeCopy();
        obj.Count = counter++;
        obj.DegreeId = degreeid[degreeid.selectedIndex].value;
        obj.DegreeName = degreeid[degreeid.selectedIndex].innerHTML;
        obj.DegreeUrl = degreeurl.value;
        DegreeArray.push(obj);

        $("#TBody").append('<tr id="' + obj.Count + '">' + "<td>" + obj.DegreeName + "</td><td><input type='text' class='form-control' value='" + obj.DegreeUrl + "' id='input_" + obj.Count + "' readonly /></td><td class='Actions'>" + "<input type='submit' value='Edit' id='btn_" + obj.Count + "' " + "class='btn-success' onclick=" + "'EditFromTable(" + obj.Count + ");'/>" + "<button class='btn-danger' onclick=" + "'RemoveFromTable(" + obj.Count + ");'>Delete</button>" + "</td></tr>");

        degreeurl.value = "";
        return false;
    }

    function RemoveFromTable(a)
    {
        var check = confirm("Confirm to delete Campus degree?");
        if (check == 1)
        {
            for (var j = 0; j < DegreeArray.length; j++) {
                var b = DegreeArray[j];
                if (b.Count == a) {
                    DegreeArray.splice(j, 1);
                }
            }
            document.getElementById(a).remove();
        }
    }

    function EditFromTable(a)
    {
        var input_field = document.getElementById("input_" + a);
        var btn = document.getElementById("btn_" + a);
        $("#input_" + a).prop("readonly", false);
        $("#btn_" + a).val("Save");
        $("#btn_" + a).attr("onclick", "SaveFromTable(" + a + ")");
        $("#btn_" + a).attr("class", "btn-warning");
    }

    function SaveFromTable(a)
    {
        var input_field = document.getElementById("input_" + a);
        for (var j = 0; j < DegreeArray.length; j++)
        {
            var b = DegreeArray[j];
            if (b.Count == a)
            {
                b.DegreeUrl = input_field.value;
            }
        }
        $("#input_" + a).prop("readonly", true);
        $("#btn_" + a).val("Edit");
        $("#btn_" + a).attr("onclick", "EditFromTable(" + a + ")");
        $("#btn_" + a).attr("class", "btn-success");
    }
</script>