﻿@using DAL.Models;
@model DAL.Models.UniversityCampuss
@{
    ViewBag.Title = "Campus Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="modal fade" id="myModal" role="dialog">

</div>

@*Form for the campus attributes*@
<div class="container col-sm-12 form-horizontal">
    <form onsubmit="return SendToController()">
        @Html.HiddenFor(model => model.Id)
        <h1 class="blue-heading">Campus Details<input id="Btn" style="margin-left:500px; width:200px" type="submit" value="Edit" class="btn btn-success" onclick="return Edit()" /></h1>
        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.CampusTitle, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBoxFor(model => model.CampusTitle, new { @class = "form-control", @required = "required",@readonly="readonly" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.AlternateName, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBoxFor(model => model.AlternateName, new { @class = "form-control" ,@readonly = "readonly" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.UniversityId, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.DropDownList("UniversityId", null, htmlAttributes: new { @class = "form-control", @required = "required", @disabled="disabled"})</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.PhoneNo, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBoxFor(model => model.PhoneNo, new { @class = "form-control", @readonly = "readonly" })</div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.CityId, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.DropDownList("CityId", null, new { @class = "form-control", @required = "required", @disabled="disabled"})</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.WebAddress, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextBoxFor(model => model.WebAddress, new { @class = "form-control", @readonly = "readonly" })</div>
            </div>
            <div class="form-group">
                <div class="col-sm-3">@Html.LabelFor(model => model.Address, new { @class = "control-label" })</div>
                <div class="col-sm-6">@Html.TextAreaFor(model => model.Address, new { @class = "form-control",@required="required", @readonly = "readonly" })</div>
            </div>
        </div>
        </form>
    </div>

<h3>Add Degree</h3>
<div class="container col-sm-12 form-horizontal" id="AddDegree">
    <form onsubmit="return AddToTable()">
        <div class="form-group">
            <div class="col-sm-2">@Html.Label("Degree", new { @class = "control-label" })</div>
            <div class="col-sm-5">@Html.DropDownList("DegId", null, new { @class = "form-control" })</div>
        </div>

        <div class="form-group">
            <div class="col-sm-2">@Html.Label("URL", new { @class = "control-label" })</div>
            <div class="col-sm-5">@Html.TextBox("DegreeUrl", null, new { @class = "form-control" })</div>
            <div class="col-sm-5"><input type="submit" value="Add Degree" class="btn btn-info" /></div>
        </div>
    </form>
</div>

<br />
<br />
<table class="table table-bordered" id="mytable">
    <thead>
        <tr>
            <th>Degree</th>
            <th>URL</th>
            <th class="Actions">Actions</th>
        </tr>
    </thead>
    <tbody id="TBody">
    </tbody>
</table>


<script>
    //Global
    var counter=1;
    var DegreeArray= new Array();

    //Campus class copy of UniversityCampus class given by entity framework
    var CampusCopy = function () {
        this.Id;
        this.CampusTitle;
        this.Address;
        this.UniversityId;
        this.AlternateName;
        this.CityId;
        this.WebAddress;
        this.PhoneNo;
    }

    var CampusDegreeCopy = function () {
        this.Id;
        this.Count;
        this.DegreeId;
        this.DegreeName;
        this.DegreeUrl;
    }


    $(document).ready(function () {
        $('#UniversityId').chosen({ search_contains: true });
        $('#DegId').chosen({ search_contains: true });
        $("#CityId").chosen({ search_contains: true });
        $("#AddDegree").prop("hidden",true);
        $('#TBody').empty();
        @foreach (var a in Model.CampusDegrees)
        {
            <text>
        var obj = new CampusCopy();
        obj.Id=@a.Id;
        obj.DegreeId='@a.DegreeId';
        obj.DegreeName='@a.Degree.DegreeName';
        obj.DegreeUrl= '@a.DegreeUrl';
        obj.Count=counter++;
        DegreeArray.push(obj);

        $("#TBody").append('<tr id="' + obj.Count + '">' + "<td>" + obj.DegreeName + "</td><td><input type='text' class='form-control' value='" + obj.DegreeUrl + "' id='input_" + obj.Count + "' readonly /></td><td class='Actions'>" + "<input type='submit' value='Edit' id='btn_" + obj.Count + "' " + "class='btn-success' onclick=" + "'EditFromTable(" + obj.Count + ");'/>" + "<button class='btn-danger' onclick=" + "'RemoveFromTable(" + obj.Count + ");'>Delete</button>" + "</td></tr>");

        </text>
        }
        $('.Actions').prop('hidden',true);

    });

    function Edit()
    {
        $('#CampusTitle').prop("readonly",false);
        $('#Address').prop("readonly",false);
        $('#WebAddress').prop("readonly",false);
        $('#UniversityId').prop("disabled",false);
        $('#CityId').prop("disabled",false);
        $('#AlternateName').prop("readonly",false);
        $('#PhoneNo').prop("readonly", false);

        $('#UniversityId').prop('disabled', false).trigger("chosen:updated");
        $('#CityId').prop('disabled', false).trigger("chosen:updated");
        $('.Actions').prop('hidden',false);
        $("#AddDegree").prop("hidden",false);

        $('#Btn').removeAttr("onclick");
        $('#Btn').attr("value","Save Changes");
        $('#Btn').attr("class","btn btn-warning");

        return false;
    }

    //Send university object and array of campuses to controller
    function SendToController()
    {
        var obj = new CampusCopy();
        obj.Id=  document.getElementById("Id").value;
        obj.CampusTitle = document.getElementById("CampusTitle").value;
        obj.AlternateName = document.getElementById("AlternateName").value;
        obj.Address = document.getElementById("Address").value;
        obj.CityId = document.getElementById("CityId").value;
        obj.UniversityId = document.getElementById("UniversityId").value;
        obj.WebAddress = document.getElementById("WebAddress").value;
        obj.PhoneNo= document.getElementById("PhoneNo").value;

        //Sending data
        $.ajax({
            url: '/AdminCampus/EditCampus',
            dataType: "json",
            type: 'POST',
            data: JSON.stringify({ obj: obj, arr: DegreeArray }),
            contentType: 'application/json',
            success: function (data) {
                //self.location = '/AdminCampus/ViewAll'
                //return true;
                location.reload();
            },
            error: function (xhr) {
                alert(data);
                return false;
            }
        });
        return false;
    }

    function AddToTable()
    {
        var degreeid = document.getElementById("DegId");
        var degreeurl = document.getElementById("DegreeUrl");

        var obj = new CampusDegreeCopy();
        obj.Count = counter++;
        obj.DegreeId = degreeid[degreeid.selectedIndex].value;
        obj.DegreeName = degreeid[degreeid.selectedIndex].innerHTML;
        obj.DegreeUrl = degreeurl.value;
        DegreeArray.push(obj);

        $("#TBody").append('<tr id="' + obj.Count + '">' + "<td>" + obj.DegreeName + "</td><td><input type='text' class='form-control' value='" + obj.DegreeUrl + "' id='input_" + obj.Count + "' readonly /></td><td class='Actions'>" + "<input type='submit' value='Edit' id='btn_" + obj.Count + "' " + "class='btn-success' onclick=" + "'EditFromTable(" + obj.Count + ");'/>" + "<button class='btn-danger' onclick=" + "'RemoveFromTable(" + obj.Count + ");'>Delete</button>" + "</td></tr>");

        degreeurl.value = "";
        return false;
    }

    function RemoveFromTable(a)
    {
        var check = confirm("Confirm to delete Campus degree?");
        if (check == 1)
        {
            for (var j = 0; j < DegreeArray.length; j++) {
                var b = DegreeArray[j];
                if (b.Count == a)
                {
                    DegreeArray.splice(j, 1);
                }
            }
            document.getElementById(a).remove();
        }
    }

    function EditFromTable(a)
    {
        var input_field = document.getElementById("input_" + a);
        var btn = document.getElementById("btn_" + a);
        $("#input_" + a).prop("readonly", false);
        $("#btn_" + a).val("Save");
        $("#btn_" + a).attr("onclick", "SaveFromTable("+a+")");
        $("#btn_" + a).attr("class", "btn-warning");
    }

    function SaveFromTable(a)
    {
        var input_field = document.getElementById("input_" + a);
        for (var j = 0; j < DegreeArray.length; j++)
        {
            if (DegreeArray[j].Count == a)
            {
                DegreeArray[j].DegreeUrl = input_field.value;
            }
        }
        $("#input_" + a).prop("readonly", true);
        $("#btn_" + a).val("Edit");
        $("#btn_" + a).attr("onclick", "EditFromTable(" + a + ")");
        $("#btn_" + a).attr("class", "btn-success");
    }
</script>