﻿@model DAL.Models.UniversityCampuss
@{
    ViewBag.Title = "Gallery";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<style>
    div.img {
        margin: 5px;
        border: 1px solid #ccc;
        float: left;
        width: 180px;
    }

        div.img:hover {
            border: 1px solid #777;
        }

        div.img img {
            width: 100%;
            height: auto;
        }

    div.desc {
        padding: 15px;
        text-align: center;
    }
</style>

@*ImageUploading*@
<script src="~/Scripts/Admin/ImageUpload/js/custom.js"></script>
<script src="~/Scripts/Admin/ImageUpload/js/jquery.filer.min.js"></script>

<div class="col-sm-12">
    <h1 class="blue-heading">Gallery: @Model.CampusTitle (@Model.University.Name)</h1><hr />
    <h3>Images</h3>

    <div id="images">
        @foreach (var a in ViewBag.Images)
        {
            string str= "https://mustqbilstorage.blob.core.windows.net/campuses/" +a;
            <div class="img" id="@a" style="background-image: url(@str);background-size: 200px 200px; height:200px; width:200px; border: 1px solid black;">
                <button onclick="ConfirmDeletion('@a')" class="btn btn-danger">x</button>
            </div>
        }
    </div>
</div>

<div class="col-sm-12">
    <h3>Upload Images</h3>
    <input type="file" name="files[]" id="filer_input2" multiple="multiple">
</div>

<script>
    function ConfirmDeletion(a)
    {
        var check = confirm("Confirm Deletion?");
        if(check==true)
        {
            $.ajax({
                url: '/AdminCampus/DeleteImage',
                dataType: "json",
                type: 'POST',
                data: JSON.stringify({ file:a }),
                contentType: 'application/json',
                success: function (data) {
                    var e = document.getElementById(a).remove();
                },
                error: function (xhr) {
                    alert(data);
                    return false;
                }
            });
        }
    }
</script>