﻿@model IEnumerable<DAL.Models.Category>
@{
    ViewBag.Title = "View All Category";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <!-------------------------         your page will go here   --------------------------->
    <h1 class="blue-heading page-header">All Categories</h1>
    <div class="col-sm-10">
        <table class="table table-bordered table-hover" id="mytable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.Name</td>
                        <td>@a.Description</td>
                        <td>
                            <a href="/AdminCategory/Details?Id=@a.Id"><input class="btn btn-success" type="submit" value="Details" /></a>
                            <input class="btn btn-danger" type="submit" value="Delete" onclick="ConfirmDeletion(@a.Id)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function ConfirmDeletion(a) {
        var check = confirm("Confirm Deletion? (Deleting a category will delete its corresponding university)");
        if (check == true) {
            self.location = '/AdminCategory/Delete/' + a;
        }
    }
</script>
