﻿@model DAL.Models.Degree
@{
    ViewBag.Title = "Create Degree";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 class="blue-heading page-header">Add Degree</h1>
<div class="container col-sm-10">
    <form onsubmit="SendToController()">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.DegreeName, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.TextBoxFor(model => model.DegreeName, htmlAttributes: new { @class = "form-control",@required="required" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.ShortName, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.TextBoxFor(model => model.ShortName, new { @class = "form-control" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.DegreeDuration, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.DropDownList("DegreeDuration", null, new { @class = "form-control"})</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.Label("Careers", new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.DropDownList("CareerId", null, new { @class = "form-control", @multiple = "multiple" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-4"><input type="submit" class="btn btn-success" /></div>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#CareerId').chosen({ search_contains: true });
        $('#DegreeDuration').chosen({ search_contains: true });
    });

    function SendToController()
    {
        //Making career array
        var darray = new Array();
        var array = document.getElementById("CareerId");
        var length = array.length;
        for (var i = 0; i < length; i++)
        {
            if (array[i].selected)
            {
                darray.push(array[i].value);
            }
        }

        //Making Degree object in javascript
        var obj = new DegreeCopy();
        obj.DegreeName = document.getElementById("DegreeName").value;
        obj.ShortName = document.getElementById("ShortName").value;
        var tmp = document.getElementById("DegreeDuration");
        obj.DegreeDuration = tmp[tmp.selectedIndex].value;

        //Sending data
        $.ajax({
            url: '/AdminDegree/CreateDegree',
            dataType: "json",
            type: 'POST',
            data: JSON.stringify({ obj: obj, arr: darray }),
            contentType: 'application/json',
            success: function (data)
            {
                self.location = '/AdminDegree/ViewAll'
                return true;
            },
            error: function (xhr)
            {
                return false;
            }
        });
    }

    var DegreeCopy= function()
    {
        this.DegreeName;
        this.ShortName;
        this.DegreeDuration;
    }
</script>