﻿@model DAL.Models.Degree
@{
    ViewBag.Title = "Degree Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}
<h1 class="blue-heading page-header">Degree Details</h1>
<p id="Note">If you want to edit press this button&nbsp;&nbsp;&nbsp;&nbsp;<input class="btn btn-info" type="submit" value="Edit" onclick="Edit()" /></p>

<div class="container col-sm-10">
    <form onsubmit="return SendToController()">
        @Html.HiddenFor(Model => Model.Id)
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.DegreeName, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.TextBoxFor(model => model.DegreeName, htmlAttributes: new {@class = "form-control", @required="required", @readonly = "readonly" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.ShortName, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.TextBoxFor(model => model.ShortName, new { @class = "form-control", @readonly = "readonly" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.DegreeDuration, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.DropDownList("DegreeDuration",null, htmlAttributes:new{@class="form-control",@disabled="disabled"})</div>
                </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.Label("Careers", new { @class = "control-label" })</div>
                <div class="col-sm-4">
                    <select id="CareerId" class="form-control" multiple disabled>
                        @foreach (var a in ViewBag.CurrentCareerId)
                        {
                            <option value="@a.Career.Id" selected>@a.Career.CareerName</option>}
                        @foreach (var a in ViewBag.CareerId)
                        {
                            <option value="@a.Id">@a.CareerName</option>
                        }
                    </select>
                </div>
            </div>
            
            <div class="form-group" id="BtnDiv" hidden>
                <div class="col-sm-2"></div>
                <div class="col-sm-4"><input type="submit" class="btn btn-success" /></div>
            </div>
        </div>
    </form>
</div>

@*-------------JAVASCRIPT---------------*@
<script>
    $(document).ready()
    {
        $('#CareerId').chosen({ search_contains: true });
        $('#DegreeDuration').chosen({ search_contains: true });
    }

    function Edit()
    {
        $('#DegreeName').prop("readonly", false);
        $('#ShortName').prop("readonly", false);
        $('#Note').empty();
        $('#BtnDiv').prop("hidden", false);
        $('#CareerId').prop('disabled', false).trigger("chosen:updated");
        $('#DegreeDuration').prop('disabled', false).trigger("chosen:updated");
    }

    function SendToController()
        {
            //Making career array
            var darray = new Array();
            var array = document.getElementById("CareerId");
            var length = array.length;
            for (var i = 0; i < length; i++)
            {
                if (array[i].selected) {
                    darray.push(array[i].value);
                }
            }

            //Making Degree object in javascript
            var obj = new DegreeCopy();
            obj.DegreeName = document.getElementById("DegreeName").value;
            obj.ShortName = document.getElementById("ShortName").value;
            obj.Id = document.getElementById("Id").value;
            var tmp = document.getElementById("DegreeDuration");
            obj.DegreeDuration = tmp[tmp.selectedIndex].value;

            //Sending data
            $.ajax({
                url: '/AdminDegree/UpdateDegree',
                dataType: "json",
                type: 'POST',
                data: JSON.stringify({ obj: obj, arr: darray }),
                contentType: 'application/json',
                success: function (data)
                {
                    //self.location = '/AdminDegree/ViewAll'
                    //return true;
                    location.reload();
                    
                },
                error: function (xhr)
                {
                    return false;
                }
            });
            return false;
        }

        var DegreeCopy= function()
        {
            this.Id;
            this.DegreeName;
            this.ShortName;
            this.DegreeDuration;
        }
</script>