﻿@model IEnumerable<DAL.Models.PersonalityType>
@{
    ViewBag.Title = "View All Personalities";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<div class="container">
    <!-------------------------         your page will go here   --------------------------->
    <h1 class="blue-heading page-header">All Personality Types</h1>
    <div class="col-sm-10">
        <table class="table table-bordered table-hover" id="mytable">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Specifications</th>
                    <th>Actions</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var a in Model)
                {
                    <tr>
                        <td>@a.Name</td>
                        <td>@a.Specifications</td>
                        <td>
                            <a href="/AdminPersonality/Details?Id=@a.Id"><input class="btn btn-success" type="submit" value="Details" /></a>
                            <input class="btn btn-danger" type="submit" value="Delete" onclick="ConfirmDeletion(@a.Id)" />
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>

<script>
    function ConfirmDeletion(a) {
        var check = confirm("Confirm Deletion? Deleting a personality will delete its corresponding question");
        if (check == true) {
            self.location = '/AdminPersonality/Delete/' + a;
        }
    }
</script>
