﻿@using DTOs;
@{
    ViewBag.Title = "UniversitiesByCities";
    Layout = "~/Views/Shared/UserPage.cshtml";
}
<link href="~/Content/chosen.min.css" rel="stylesheet" />
<link href="~/Content/Jquery-DataTables.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script src="~/Scripts/Jquery-DataTables.js"></script>
<script src="~/Scripts/Jquery-DataTables-bootstrap.js"></script>
<script src="~/Scripts/ColumnFilter.js"></script>

<div class="container">
    <h2 class="blue-heading page-header">Universities in Pakistan</h2>
    <br />
    <br />

    


    <div class="form-group">
        <div class="col-sm-3"><b>Cities</b> @Html.DropDownList("Cities", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple", @placeholder = "Select Cities to search" })</div>
        <div class="col-sm-5"><b>Degrees</b> @Html.DropDownList("Degrees", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple", @placeholder = "Select Cities to search" })</div>
    </div>
    <div class="clearfix"></div>
    <br />
    <br />


    <div class="container" id="table-container">

        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th>University</th>
                    <th></th>
                    <th>City</th>
                    <th>Action</th>
                </tr>
            </thead>

            @*@{
                List<string> list = new List<string>();
                <h1>@list.Count</h1>
            }*@

            <tbody id="t-data">
                @foreach (UniversityCampuss campus in ViewBag.list)
                {
                    <tr>
                        <td>@campus.University.Name (@campus.CampusTitle) </td>
                        <td> <label>@campus.University.Sector</label> - @campus.University.Category.Name</td>
                        <td>@campus.City.Name, @campus.City.Province</td>
                        <td> <a href="/University/CampusDetails/@campus.Id" class="btn btn-success">Details</a>  </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

</div>

<script>
    $(document).ready(function () {
      
        $('#myTable').dataTable({
            responsive: true
        }).columnFilter({
            sPlaceHolder: "head:before",
            aoColumns: [ null, { type: "select", values: ['Government', 'Private']  } ]
        })._('tr', { "filter": "applied" });
    });

    
    $("#Cities").chosen({
        width: '95%',
        search_contains: true,
        placeholder_text: "Filter with Cities ..."

    }).change(function (e, params) {
        return chosenchanged();
    });

    $("#Degrees").chosen(
        {
            width: '95%',
            search_contains: true,
            placeholder_text: "Filter with Degrees ..."

        }).change(function (e, params) {
        return chosenchanged();
    });



    function chosenchanged()
    {

        //Making city array
        var darray = new Array();
        var array = document.getElementById("Cities");
        var length = array.length;
        for (var i = 0; i < length; i++) {
            if (array[i].selected) {
                darray.push(array[i].value);
            }
        }


        //Making degree array
        var earray = new Array();
        var array = document.getElementById("Degrees");
        var length = array.length;
        for (var i = 0; i < length; i++) {
            if (array[i].selected) {
                earray.push(array[i].value);
            }
        }



        $("#table-container").html("<center> <img class='img-responsive' src='../../Images/loading.GIF'> </center>");
        //$('#myTable').DataTable().clear();


        $.ajax({
            url: '/University/UniversitiesInCities',
            type: 'POST',
            data: JSON.stringify({ arr: darray, err: earray }),
            contentType: 'application/json',
            success: function (data) {

                $("#table-container").html(data);

                $('#myTable2').dataTable({
                    responsive: true
                }).columnFilter({
                    sPlaceHolder: "head:before",
                    aoColumns: [null, { type: "select", values: ['Government', 'Private'] }]
                })._('tr', { "filter": "applied" });

            },
            error: function (xhr) {
                return false;
            }
        });
    }


</script>
