﻿@using DTOs;

@{

    ViewBag.Title = "Campus Details";
    Layout = "~/Views/Shared/UserPage.cshtml";
    UniversityCampuss campus = ViewBag.campus;

}

<link rel="stylesheet" type="text/css" media="all" href="~/Content/Plugin/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" media="all" href="~/Content/Plugin/css/jgallery.min.css" />
<script type="text/javascript" src="~/Content/Plugin/js/tinycolor-0.9.16.min.js"></script>
<script type="text/javascript" src="~/Content/Plugin/js/jgallery.min.js"></script>

<link href="~/Content/Jquery-DataTables.css" rel="stylesheet" />
<script src="~/Scripts/Jquery-DataTables.js"></script>
<script src="~/Scripts/Jquery-DataTables-bootstrap.js"></script>
<script type="text/javascript">
    $(function () {
        $('#gallery').jGallery({
            'mode': 'standard'
        });
    });
</script>



<div class="container">
    <h3 class="blue-heading page-header"><label style="color: mediumaquamarine"> @campus.University.Name 
        
        @if (campus.University.AlternateName != null && campus.University.AlternateName != "")
        {
            <b style="text-transform:uppercase">(@campus.University.AlternateName)</b>
        }
        
        
         </label>  -  @campus.CampusTitle</h3>

    @*<h4 class="orange-heading page-header">Sector</h4>
    <p>@campus.University.Sector</p>*@


    <div class="col-sm-5">
        

        <h4 class="orange-heading page-header">Sector</h4>
        <p>@campus.University.Sector</p>

        <h4 class="orange-heading page-header">Address</h4>
        <p>@campus.Address, @campus.City.Name</p>

        <h4 class="orange-heading page-header">Web Address</h4>
        @if (campus.WebAddress != null && campus.WebAddress != "")
        {
            <a href="@campus.WebAddress" target="_blank">@campus.WebAddress</a>
        }
        else
        {
            if (campus.University.WebAddress.Contains("construction"))      //for checking if website is under construction
            {
                <p href="#" target="">under construction</p>

            }
            else
            {
                <a href="@campus.University.WebAddress" target="_blank">@campus.University.WebAddress</a>
            }

        }




        <h4 class="orange-heading page-header">Degrees</h4>


    </div>
    <div class="col-sm-7">

        <div id="gallery">
            <div class="album" data-jgallery-album-title="Album 1">
                @if(campus.ImageList!=null)
                {
                    foreach (var a in campus.ImageList)
                    {
                        string path = "https://mustqbilstorage.blob.core.windows.net/campuses/" + a;
                        <a href="@path"><img src='@path' alt="Source: Pixabay.com" data-jgallery-bg-color="#3e3e3e" data-jgallery-text-color="#fff" /></a>
                    }
                }
            </div>

        </div>


    </div>


   


    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>Degree</th>
                <th>Duration</th>
                @*<th>Degree System</th>*@
                <th>Careers</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CampusDegree degree in campus.CampusDegrees.OrderBy(z=>z.Degree.DegreeName))
            {
                <tr>
                    <td>
                       @Html.Raw(degree.Degree.DegreeName) 
                        
                        @if (degree.Degree.ShortName == null || degree.Degree.ShortName == "")
                        {
                            
                        }
                        else
                        {
                            <p>(@degree.Degree.ShortName)</p>
                        }
                    </td>

                    <td>@degree.Degree.DegreeDuration</td>
                    @*<td>@degree.DegreeSystem</td>*@
                    <td>
                        @foreach(DegreeCareer dc in degree.Degree.DegreeCareers)
                        {
                            <u>@dc.Career.CareerName</u>                            <label>&nbsp;&nbsp;&nbsp;</label>
                        }

                    </td>
                </tr>
            }
        </tbody>
    </table>

</div>

<script>
    $(document).ready(function () {
       
        $('#myTable').DataTable({
            responsive: true
        });
    });
</script>