﻿@using DTOs
<link href="~/Content/pg-style.css" rel="stylesheet" />
<script src="~/Scripts/jquery.paginate.js"></script>
<div class="clearfix"></div>

@{ List<UniversityNewss>news = ViewBag.list; }


<br />

@foreach (UniversityNewss un in news)
        {
    <div class="container news-headings">
        <div class="col-sm-8">
            <h3 class="orange-heading" href="/University/UniversityNews/@un.UniversityId">@un.University.Name</h3>
        </div>
        <div class="col-sm-3 pull-right" style="text-align:right">
            <div class="news-date">
                <h4>@un.Date.Value.ToString("MMMM dd, yyyy")</h4>
            </div> 
        </div>

        <br />
        <br />
        <div class="clearfix"></div>
        <div class="details">
            <h4 class="blue-heading">@un.Title</h4>
            @if(un.Description.Count() < 600)
            {
               <p>@un.Description</p>
            }
            else
            {
                <p>@un.Description.Substring(0, 600) ... <a href="#">view details</a> </p>
            }
        </div>
       
    </div>
    
    <br />
        }



<div class="clearfix"></div>
<div class="container">
    <div class="col-sm-2 col-sm-offset-4" id="demo1">


    </div>
</div>

@{

    double result = ((double)ViewBag.count) / 10.0;
    var xx = Math.Ceiling(result);

    if (result < 2)
    {

    }
    else
    {
        <script>
            $("#demo1").paginate({
                count 		: @xx,
                start 		: @ViewBag.thisPage,
                display     : 5,
                border					: false,
                text_color  			: '#888',
                background_color    	: '#EEE',
                text_hover_color  		: 'black',
                background_hover_color	: '#CFCFCF',
                onChange				: function(){ updateDiv(1); }
            });
        </script>
    }
}


