﻿<link href="~/Content/chosen.min.css" rel="stylesheet" />
<script src="~/Scripts/chosen.jquery.min.js"></script>
<script src="~/Scripts/jquery-ui.js"></script>


@{
    ViewBag.Title = "News";
    Layout = "~/Views/Shared/UserPage.cshtml";
}

@using DTOs;

<div class="container">
    <h3 class="page-header blue-heading">Universities News</h3>
    @if(Session["user"]!=null)
    {
    <a class="btn btn-primary pull-right" href="/University/UserSubscribedNews" >View My subscribed Universities News</a> <br /><br /> 
    }
    
    <br />
    
    <div class="form-group">

        <div class="col-sm-5">
            <b>Universities</b>
         @Html.DropDownList("uniList", null, htmlAttributes: new { @class = "form-control", @multiple = "multiple" })
        </div>
        <div class="col-sm-3">
            <b>From Date</b>
             <input type="text" id="dateFrom" class="form-control" placeholder="Select Start Date...">
        </div>
        <div class="col-sm-3">
            <b>To Date</b>
            <input type="text" id="dateTo" class="form-control" placeholder="Select End Date...">
        </div>
    
    </div>
    <div class="clearfix"></div>
    <br />
    <div id="all-news">
      
    </div>

</div>

<script>
    $("#uniList").chosen(
        {
            width: '100%',
            search_contains: true,
            placeholder_text: "Select universities..."



        }).change(function (e, params) {
        updateDiv();
    });
    $("#dateFrom").datepicker();
    $("#dateTo").datepicker();

    $("#dateFrom").on("change", function () {
        updateDiv();
    });

    $("#dateTo").on("change", function () {
        updateDiv();
    });
    


    function updateDiv(pgNum)
    {
        var dtFrom = $("#dateFrom").val();
        var dtTo = $("#dateTo").val();

        //Making uni array
        var darray = new Array();
        var array = document.getElementById("uniList");
        var length = array.length;
        for (var i = 0; i < length; i++) {
            if (array[i].selected) {
                darray.push(array[i].value);
            }
        }

       
        $("#all-news").html("<center> <img class='img-responsive' src='../../Images/loading.GIF'> </center>");

        $.ajax({
            url: '/University/FilteredNews',
            type: 'POST',
            data: JSON.stringify({ arr: darray , dateFrom: dtFrom , dateTo:dtTo, pgNo: pgNum }),
            contentType: 'application/json',
            success: function (data) {
                $("#all-news").html(data);
            },
            error: function (xhr) {
                alert(xhr);
            }
        });

    }

    $(document).ready(function () {
        updateDiv(1);

       
    });

</script>
