﻿@using DTOs;

@{
    ViewBag.Title = "Universities";
    Layout = "~/Views/Shared/UserPage.cshtml";
}
<script src="~/Scripts/bootstrap-switch.js"></script>
<div class="container">
    @{Html.RenderPartial("~/Views/Shared/UserMenubar.cshtml");}
    <h4 class="blue-heading page-header">You have been subscribed to following universities</h4>
    <br />

    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>University</th>
                    <th>Category</th>
                    <th>Sector</th>
                    <th>Your Subscription</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @{ User us = (User)Session["user"]; }

                @foreach (UniversityWithSession uni in ViewBag.list)
                {
                    <tr>
                        <td>@uni.Name (@uni.AlternateName)</td>
                        <td>@uni.Category.Name</td>
                        <td>@uni.Sector</td>
                        <td>

                            <input type='checkbox' name='checkbox_@uni.Id' />

                            @if (@uni.IsSubscribed)
                            {
                                <script>
                                    $("[name='checkbox_@uni.Id']").prop('checked', true);
                                </script>
                            }


                            <script>
                                $("[name='checkbox_@uni.Id']").bootstrapSwitch({ size: 'sm' });
                                $("[name='checkbox_@uni.Id']").change(function () {
                                    if (this.checked)
                                    {
                                        thisurl = '/University/AddSubscription/';
                                        //alert('checked');
                                    }

                                    else if (!this.checked)
                                    {
                                        //alert('not checked');
                                        thisurl = '/University/DeleteSubscription/';
                                    }

                                    zz = this.name;
                                    yy = zz.replace("checkbox_", "");

                                    $.ajax({
                                        type: 'POST',
                                        url: thisurl,
                                        data: { UniversityId: yy , UserId : @us.Id  },
                                        success: function (data, status) {

                                            //alert(data);
                                            if (data == "success") {
                                                //window.location = "/Report/PersonalitySummary";
                                            }
                                            else {
                                                //alert(data);
                                            }
                                        },
                                        error: function (xhr, status, error) {
                                            alert(xhr.responseText);
                                        }
                                    });


                                });

                            </script>



                        </td>
                        <td><a class="btn btn-success" href="/University/UniversityDetails/@uni.Id">Details</a> </td>
                    </tr>
                }

            </tbody>
        </table>

    </div>

</div>
<script>
    //$('#switch2').c_switch({ style: 'round', zoom: 1, switch_color_on: '#4CD964', });

</script>
