﻿@using DTOs;


@{
    University uni = ViewBag.uni;

    ViewBag.Title = @uni.Name;
    Layout = "~/Views/Shared/UserPage.cshtml";
}


<link rel="stylesheet" type="text/css" media="all" href="~/Content/Plugin/css/font-awesome.min.css" />
<link rel="stylesheet" type="text/css" media="all" href="~/Content/Plugin/css/jgallery.min.css" />
<script type="text/javascript" src="~/Content/Plugin/js/tinycolor-0.9.16.min.js"></script>
<script type="text/javascript" src="~/Content/Plugin/js/jgallery.min.js"></script>
<script type="text/javascript">
    $(function () {
        $('#gallery').jGallery({
            'mode': 'standard'
        });
    });
</script>



<div class="container">
    <div class="container">
        <h3 class="blue-heading page-header">
            @uni.Name
        @if(uni.AlternateName!=null && uni.AlternateName!="")
        {
            <label style="text-transform:uppercase">(@uni.AlternateName)</label>
        }

    </h3>
    <br />

    <div class="col-sm-5">


        <p class="details  news-headings" style="padding:2%;">
            @uni.Description
        </p>

        <h4 class="orange-heading page-header">Category</h4>
        <p>@uni.Category.Name</p>

        <h4 class="orange-heading page-header">Sector</h4>
        <p>@uni.Sector</p>

        <h4 class="orange-heading page-header">WebAddress</h4>

        @if (uni.WebAddress.Contains("construction"))      //for checking if website is under construction
        {
            <p href="#" target="">under construction</p>

        }
        else
        {
            <a target="_blank" href="@uni.WebAddress">@uni.WebAddress</a>
        }

        

    </div>

    <div class="col-sm-7">

        <div id="gallery">
            <div class="album" data-jgallery-album-title="Album 1">

                @foreach (UniversityCampuss uc in uni.UniversityCampusses.OrderBy(z=>z.City.Name))
                {
                    if(uc.ImageList != null)
                    {
                        foreach (var a in uc.ImageList)
                        {
                            string path = "https://mustqbilstorage.blob.core.windows.net/campuses/" + a;
                            <a href="@path"><img src='@path' alt="Source: Pixabay.com" data-jgallery-bg-color="#3e3e3e" data-jgallery-text-color="#fff" /></a>
                        }
                    }
                }
            </div>

        </div>




    </div>

</div>
<div class="col-sm-12">

    <h4 class="orange-heading page-header">University Campuses</h4>
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Campus Name</th>
                <th>Address</th>
                <th>City, Province</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (UniversityCampuss campus in uni.UniversityCampusses)
                {
                <tr>
                    <td>@Html.Raw(campus.CampusTitle) (@campus.AlternateName)</td>
                    <td>@Html.Raw(campus.Address)</td>
                    <td>@Html.Raw(campus.City.Name), @Html.Raw(campus.City.Province)</td>
                    <td><a class="btn btn-success" href="/University/CampusDetails/@campus.Id">Details</a></td>
                </tr>
                }
        </tbody>
    </table>

</div>

</div>
