﻿@using DTOs;

@{
    ViewBag.Title = "Universities";
    Layout = "~/Views/Shared/UserPage.cshtml";
}


<link href="~/Content/Jquery-DataTables.css" rel="stylesheet" />
<script src="~/Scripts/Jquery-DataTables.js"></script>
<script src="~/Scripts/Jquery-DataTables-bootstrap.js"></script>
<script src="~/Scripts/bootstrap-switch.js"></script>


<div class="container">
    <h2 class="blue-heading page-header">Popular Universities</h2>
    <br />

    <div class="container">
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th>University</th>
                    <th>Category</th>
                    <th>Sector</th>
                    <th>Your Subscription</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @{ User us = (User)Session["user"]; }

                @foreach (UniversityWithSession uni in ViewBag.list)
                {
                    <tr>
                        @if (uni.AlternateName != null && uni.AlternateName != "")
                        {
                            <td>@uni.Name <b style="text-transform:uppercase">(@uni.AlternateName)</b></td>
                        }
                        else
                        {
                            <td>@uni.Name</td>
                        }
                        
                        <td>@uni.Category.Name</td>
                        <td>@uni.Sector</td>
                        <td>
                            
                            <input type='checkbox' name='checkbox_@uni.Id' />

                            @if (@uni.IsSubscribed)
                            {
                                <script>
                                    $("[name='checkbox_@uni.Id']").prop('checked', true);
                                </script>
                            } 


                            <script>
                                $("[name='checkbox_@uni.Id']").bootstrapSwitch({ size: 'sm' });
                                $("[name='checkbox_@uni.Id']").change(function () {
                                    if (this.checked) 
                                    {
                                        thisurl = '/University/AddSubscription/';
                                        //alert('checked');
                                    }
                                        
                                    else if (!this.checked)
                                    {
                                        //alert('not checked');
                                        thisurl = '/University/DeleteSubscription/';
                                    }
                                     
                                    zz = this.name;
                                    yy = zz.replace("checkbox_", "");

                                    $.ajax({
                                        type: 'POST',
                                        url: thisurl,
                                        data: { UniversityId: yy , UserId : @us.Id  },
                                        success: function (data, status) {

                                            //alert(data);
                                            if (data == "success") {
                                                //window.location = "/Report/PersonalitySummary";
                                            }
                                            else {
                                                //alert(data);
                                            }
                                        },
                                        error: function (xhr, status, error) {
                                            alert(xhr.responseText);
                                        }
                                    });

                                 
                                });

                            </script>

                           
                        
                        </td>
                        @*<td><button type="button" class="btn btn-success" onclick="window.location='/University/UniversityDetails/@uni.Id'">Details</button> </td>*@

                        <td><a href="/University/UniversityDetails/@uni.Id" class="btn btn-success">Details</a></td>


                    </tr>
                }

            </tbody>
        </table>

    </div>

</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            responsive: true
        });
    });
</script>