﻿@using DTOs;

<table class="table table-striped" id="myTable2">
    <thead>
        <tr>
            <th>University</th>
            <th></th>
            <th>City</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (UniversityCampuss campus in Model)
        {
            <tr>
                <td>@campus.University.Name (@campus.CampusTitle)</td>
                <td> <label>@campus.University.Sector</label> - @campus.University.Category.Name</td>
                <td>@campus.City.Name, @campus.City.Province</td>
                <td> <a href="/University/CampusDetails/@campus.Id" class="btn btn-success">Details</a>  </td>
            </tr>
        }
    </tbody>
</table>