﻿@using DTOs;

@{
    ViewBag.Title = "Universities";
    Layout = "~/Views/Shared/UserPage.cshtml";
}

<link href="~/Content/Jquery-DataTables.css" rel="stylesheet" />
<script src="~/Scripts/Jquery-DataTables.js"></script>
<script src="~/Scripts/Jquery-DataTables-bootstrap.js"></script>


<div class="container">
    @try { 
    <h2 class="blue-heading page-header">@Request["sector"].ToString()</h2>
    }
    catch (Exception)
    {
        <h2 class="blue-heading page-header">Universities</h2>
    }
    <br />


    <div class="container">
        <table class="table table-striped" id="myTable">
            <thead>
                <tr>
                    <th>University</th>
                    <th>Category</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>

                @foreach (University uni in ViewBag.list)
                {
                    <tr>
                        @if (uni.AlternateName != null && uni.AlternateName != "")
                        {
                            <td>@uni.Name <b style="text-transform:uppercase">(@uni.AlternateName)</b></td>
                        }
                        else
                        {
                            <td>@uni.Name</td>
                        }

                    <td>@uni.Category.Name</td>
                    <td><a href="/University/UniversityDetails/@uni.Id" class="btn btn-success">Details</a></td>

                    @*<td><button type="button" class="btn btn-success" onclick="window.location='/University/UniversityDetails/@uni.Id'">Details</button></td>*@
                </tr>
                }

            </tbody>
        </table>

    </div>

</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            responsive: true
        });
    });
</script>