﻿@using DTOs

@{
    ViewBag.Title = "AllDegrees";
    Layout = "~/Views/Shared/UserPage.cshtml";


    List<Degree> degrees = ViewBag.degrees;
}


<link href="~/Content/Jquery-DataTables.css" rel="stylesheet" />
<script src="~/Scripts/Jquery-DataTables.js"></script>
<script src="~/Scripts/Jquery-DataTables-bootstrap.js"></script>

<div class="container">
    <h2 class="blue-heading page-header">
Degrees in all Universities of Pakistan
</h2>

    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>Degree</th>
                <th>Duration</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (Degree cd in degrees.OrderBy(z=>z.DegreeName))
            {
                <tr>
                    <td>
                        @cd.DegreeName
                    </td>
                    <td>
                        @cd.DegreeDuration
                    </td>
                    <td>
                        <a class="btn btn-success" href="/Degree/UniversitiesInDegree/@cd.Id">View Universities</a>
                    </td>

                </tr>

            }


        </tbody>

    </table>

</div>


<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            responsive: true
        });
    });
</script>