﻿@using DTOs

@{
    ViewBag.Title = "UniversitiesInDegree";
    Layout = "~/Views/Shared/UserPage.cshtml";


    Degree d = ViewBag.d;
}

<link href="~/Content/Jquery-DataTables.css" rel="stylesheet" />
<script src="~/Scripts/Jquery-DataTables.js"></script>
<script src="~/Scripts/Jquery-DataTables-bootstrap.js"></script>


<div class="container">
    <h2 class="blue-heading page-header">@d.DegreeName 
        
    @if (!(d.ShortName=="" || d.ShortName==null))
    {
         <label>(@d.ShortName) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; </label>   
        
        
    }
        <label class="orange-heading">(@d.DegreeDuration years)</label>
    </h2>

    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>University</th>
                <th>Sector</th>
                <th>Category</th>
                <th>City</th>
                <th></th>
            </tr>
        </thead>

        <tbody>
            @foreach (CampusDegree cd in d.CampusDegrees.OrderBy(z=>z.UniversityCampuss.University.Name))
            {
                <tr>
                    <td>
                        @cd.UniversityCampuss.University.Name (@cd.UniversityCampuss.CampusTitle) 
                    </td>
                    
                    <td>
                        <b>@cd.UniversityCampuss.University.Sector</b>
                    </td>
                    <td>
                        @cd.UniversityCampuss.University.Category.Name
                    </td>

                    <td>
                        @cd.UniversityCampuss.City.Name
                    </td>

                    <td><a class="btn btn-success" href="/University/CampusDetails/@cd.UniversityCampuss.Id">View Campus</a></td>

                </tr>

            }


        </tbody>

    </table>

</div>

<script>
    $(document).ready(function () {
        $('#myTable').DataTable({
            responsive: true
        });
    });
</script>