﻿@model DAL.Models.City
@{
    ViewBag.Title = "Create City";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 class="blue-heading page-header">Add City</h1>
<div class="container col-sm-10">
    <form action="/AdminCity/AddCity" method="post">
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", @required = "required" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.Province, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.DropDownList("Province",null, new { @class = "form-control", @required = "required" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2"></div>
                <div class="col-sm-4"><input type="submit" class="btn btn-success" /></div>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#Province').chosen({ search_contains: true });
    });
</script>