﻿@model DAL.Models.City
@{
    ViewBag.Title = "City Details";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h1 class="blue-heading page-header">City Details</h1>
<p id="Note">If you want to edit press this button&nbsp;&nbsp;&nbsp;&nbsp;<input class="btn btn-info" type="submit" value="Edit" onclick="Edit()" /></p>
<div class="container col-sm-10">
    <form action="/AdminCity/EditCity" method="post">
        @Html.HiddenFor(Model => Model.Id)
        <div class="form-horizontal">
            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.TextBoxFor(model => model.Name, htmlAttributes: new { @class = "form-control", @required = "required", @readonly = "readonly" })</div>
            </div>

            <div class="form-group">
                <div class="col-sm-2">@Html.LabelFor(model => model.Province, htmlAttributes: new { @class = "control-label" })</div>
                <div class="col-sm-4">@Html.DropDownList("Province", null, new { @class = "form-control", @required = "required",@readonly="readonly" })</div>
            </div>
            <div class="form-group" id="BtnDiv" hidden>
                <div class="col-sm-2"></div>
                <div class="col-sm-4"><input type="submit" class="btn btn-success" /></div>
            </div>
        </div>
    </form>
</div>

<script>
    $(document).ready(function () {
        $('#Province').chosen({ search_contains: true });
    });

    function Edit()
    {
        $('#Name').prop("readonly", false);
        $('#Province').prop("readonly", false);
        $('#Note').empty();
        $('#BtnDiv').prop("hidden", false);
    }
</script>

