﻿@{
    ViewBag.Title = "How It Works";
    Layout = "~/Views/Shared/UserPage.cshtml";
}


<div class="container">

    <h3>
        <br />
        <i>
            “People with goals succeed because they know where they are going... It’s as simple as that.”
        </i>
        <br /><br /><b class="pull-right">(Earl Nightingale)</b>
    </h3>

    <div class="col-sm-8">
        <h2 class="blue-heading page-header">What it tells?</h2>
        <h3 class="orange-heading">Take Career Test and know your interested career</h3>
        <br />
        <h4><i>Your test can tell about :</i></h4>
        <div class="col-sm-1"></div>
        <ul class="col-sm-5" style="list-style-image: url('../../Images/bullet_accept.png'); font-weight: bold; font-size:15px  ">
            <li>Scientific summary of your work personality</li>
            <li>Your personality strengths at work</li>
            <li>Your preffered managment styles</li>
            <li>How you work in team</li>

        </ul>

        <ul class="col-sm-6" style="list-style-image: url('../../Images/bullet_accept.png'); font-weight: bold; font-size:15px;">
            
            <li>Your working environment</li>
            <li>Degree and University that fits you best</li>
            <li>Filter your interested degrees</li>
            <li>Filter universities on public/private basis</li>

        </ul>

    </div>

    <div class="col-sm-4">
        <br /><br /><br /><br />
        <img class="img-responsive" src="~/Images/choose-which-career.png" />

    </div>

</div>

<div class="container">
        <h2 class="orange-heading page-header">How we help you...</h2>
       

        <div class="col-sm-4">
            <img src="~/Images/career_counseling.jpg" class="img-responsive" />
            <h4 class="blue-heading">
                Career Counseling
            </h4>
            <p style="text-align:justify">
                Our Generated report helps you discover yourself. You find the best working areas that matches you personality. It also let you discover your management styles, working environment and much more.
            </p>
        </div>

    <div class="col-sm-4  col-sm-offset-2">
        <img src="~/Images/universities.jpg" class="img-responsive" />
        <h4 class="blue-heading">
            Educational Guidance
        </h4>
        <p>
            We have always tried to provide you best of best!<br />
            Our site continously maintain information of different universites. Let you search for the university that you like the most.
        </p>

    </div>

    <br />

    <div class="col-sm-4">
        <img src="~/Images/degrees.jpg" class="img-responsive" />
        <h4 class="blue-heading">
            Bulk of Degrees
        </h4>
        <p>
            MUSTQBIL.COM contains hundreds of degrees being taught at hundreds of universities in all over the country. Moreover we provide you information about degrees related to different working areas to let you better understand about its future.
        </p>
    </div>
    <div class="col-sm-4 col-sm-offset-2">
        <img src="~/Images/news.jpg" class="img-responsive" />
        <h4 class="blue-heading">
            Every News only on MUSTQBIL
        </h4>
        <p>
            This website is perfectly a blast. Now you don't need to visit different website to gather news. Just type www.mustqbil.com in browser and you will get all universities news on one page!
        </p>
    </div>
        

</div>

