﻿@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/UserPage.cshtml";
}



<div class="row">
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            @*<li data-target="#myCarousel" data-slide-to="2"></li>*@
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="~/images/slider1.png" alt="Chania">
            </div>

            <div class="item">
                <img src="~/images/slider2.png" alt="Chania">
            </div>

            @*<div class="item">
                <img src="~/images/slider3.jpg" alt="Chania">
            </div>*@


        </div>

        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
    </div>
</div>


<div class="container">
    <div class="col-sm-7">
        @*<h3 class="page-header blue-heading">BCC's  Career Test</h3>
        <p>Our Career Test analyzes your personality in the work place. It gives you insight into which careers to consider based on your work personality. It also generates a description of your optimal work environment, your strengths, your preferred management style, your work personality traits and more.</p>
        <h3 class="page-header orange-heading">Career Information and Recommendation</h3>
        <p>Your generated report by questioner tells alot about your professional career degree. Moreover our system tells you about the recommended degree programs and universities. You can search universities on filters like public, private, region wise etc. </p>*@
    
    <h3 class="page-header blue-heading">We care for your future</h3>
        @*<p>
            MUSTQBIL.COM helps you to choose right Career, right University &right degree for them.
        </p>*@
        <p>
            MUSTQBIL.COM has been founded in cooperation with psychologists to determine best working areas for students of higher school level.
            <br />Our idea is to help Students to choose right field for their Career by taking a Free Career Test which will help us to come to the analysis that which field would be suitable for students for their Careers.
           <br /> MUSTQBIL.COM is the <b>first website</b> for automated career counselling. Our Career Test analyzes your personality in the work place. It gives you insight into which careers to consider based on your work personality. It also generates a description of your optimal work environment, your strengths, your preferred management style, your work personality traits and more.
           <br /> Your generated report by questioner tells a lot about your professional career degree. Moreover our system tells you about the recommended degree programs and universities. You can search universities on filters like public, private, region wise etc.
        </p>

        <h3 class="page-header orange-heading">
            Everything within MUSTQBIL.COM
        </h3>
        <p>
            MUSTQBIL.COM is Pakistan's first educational consulting automated website providing quality career planning services and systemized educational guidance to the students.
            It provides you complete guidance and help you choose the best future for you!
        </p>

</div>

    <div class="col-sm-1"></div>
    <div class="col-sm-4">

        <br /><br /><br />
        <h3 class="blue-heading">Don't  want to delay?</h3> <br /><br /><br />

        <button class="btn btn-primary" style="font-size:20px; width:100%;" onclick="window.location='/Questionnaire/Instructions'">Take Test Now!</button>

        <br />
        <h4 class="orange-heading">Know your innner passion! Discover your working area!</h4>

        <br /><br /><br /><br />
        <img class="img-responsive" src="~/images/main-page-image.jpg" />
    </div>


</div>

