﻿
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <title>mustqbil.com</title>
</head>
<body>
    <div> 
        <img src="~/Images/coming-soon.jpg" class="img-responsive"/>
    </div>
</body>
</html>
